{% extends 'core/base.html' %}
{% block content %} 
<div class="container mt-5">
 <h1 class="text-warning mb-5 border-bottom">SKILLS 56</h1>

 <div class="row text-white">
  <div class="col-sm-5">
   <h3 class="mt-5">1. Python </h3>
   </div>

  <div class="col-sm-5 ">
   <h3 class="mt-5">2. Machine Learning</h3>
  </div>

  <div class="col-sm-5">
   <h3 class="mt-5">3. Data Science</h3>
   </div>

  <div class="col-sm-5 ">
   <h3 class="mt-5">4. Deep Learning</h3>
   </div>
  <div class="col-sm-5">
   <h3 class="mt-5">5. Artificial Intelligence</h3>
   </div>
  <div class="col-sm-5 ">
   <h3 class="mt-5">6. Django</h3>
  </div>

  <div class="col-sm-5">
   <h3 class="mt-5">7. HTML/CSS</h3>
  </div>

  <div class="col-sm-5 ">
   <h3 class="mt-5">8. SQL</h3>
  </div>
  <br>
  <div class="container">
  <h1 class="text-warning mb-5 border-bottom">Education</h1>
  <h2>B.TECH(Computer Science)</h2>
  <h4>Jaipur National University, Jaipur, Rajasthan</h4>
  <h4>From Batch of 2021</h4>
  
  </div>
 </div>

</div>

{% endblock content %}